# SPDX-License-Identifier: Apache-2.0

name: Verify Build

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"
  workflow_dispatch:
  workflow_call:

env:
  GOPATH: /opt/go
  PATH: /opt/go/bin:/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin:/usr/local/sbin
  GO_VER: 1.21.9

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-20.04
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VER }}
      - name: Checkout Fabric-Lib-Go Code
        uses: actions/checkout@v3
      - name: Run Checks and Unit Tests
        run: make checks unit-tests GOTOOLS_BINDIR=${{ env.GOPATH }}/bin
